*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100%;
    overflow: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    /* background-color: red; */
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section .sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -500px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #017143;
}

.socialMedia{
    position: absolute;
    right: 510px;
    top: 200px;
}

.socialMedia img{
    display: block;
    width: 20px;
    margin: 20px 0;
}

.textoSobre{
    margin-top: 100px;
}

.textoSobre h1{
    font-size: 50px;
}

.textoSobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
}

.textoSobre button{
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.divcega{
    /* height: 9000px;
    background-color: green; */
}